/* Style for body */
body{
  padding: 0px;
  margin: 0px;
  background-color: black;
  overflow: hidden;
}

/* Style by id */
#temp{
  top: 47.5%;
  left: auto;
  text-align: center;
  font-size: 45px;
}

#title{
  top: 5px;
  text-align: center;
  left: auto;
  font-size: 35px;
}

#level{
  top: 5px;
  left: 5%;
  font-size: 30px;
}

#score{
  top: 5px;
  left: 90%;
  font-size: 30px;
}

/* Style by class */
.messageText{
  position:absolute;
  background-color: transparent;
  width: 100%;
  color: white;
  font-style:bolder;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.audio{
  display: none;
  width: 0px;
  height: 0px;
  border: 0px;
}
