/* Style for body */
body{
  padding: 0px;
  margin: 0px;
  background-color: black;
  overflow: hidden;
}

/* Style by id */
#temp{
  top: 47%;
  left: auto;
  text-align: center;
  vertical-align: center;
  font-size: 30px;
}

#title{
  text-align: center;
  font-size: 25px;
}

#level{
  text-align: left;
  margin-left: 20px;
}

#score{
  left: -20px;
  text-align: right;
}

#dimensions{
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
  font-size: 1em;
  color: white;
}

/* Style by class */
.topBar{
  top: 5px;
  font-size: 20px;
}
.messageText{
  position:absolute;
  background-color: transparent;
  width: 100%;
  color: white;
  font-style:bolder;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.audio{
  display: none;
  width: 0px;
  height: 0px;
  border: 0px;
}

@media screen and (min-width: 800px){
  .topBar{
    font-size: 30px;
  }

  #title{
    font-size: 35px
  }

  #temp{
    font-size: 45px;
  }
}
